/* Your CSS codes here */
.VueCarousel-slide {
    position: relative;
    color: #999298;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: left;
    min-height: 100px;
    line-height: 1.5em;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

